{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "vueIndentScriptAndStyle": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["cva", "cn"],
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
