@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-danger: var(--danger);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
}

:root {
    /* Core theme */
    --background: #152e47;
    --foreground: #fdfcfc;
    --primary: #dc5b3d;
    --primary-foreground: #fdfcfc;
    --secondary: #38a5c5;
    --secondary-foreground: #fdfcfc;

    --popover: color-mix(in srgb, #fdfcfc 10%, #152e47);
    --popover-foreground: #fdfcfc;
    --accent: color-mix(in srgb, #fdfcfc 12%, #152e47);
    --accent-foreground: #fdfcfc;
    --danger: #ef4444;
    --border: color-mix(in srgb, #fdfcfc 20%, transparent);
    --input: color-mix(in srgb, #fdfcfc 10%, transparent);
    --ring: #dc5b3d;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
